<% if collaborator%>
    <tr>
        <td onclick='javascript: setCollaborator(<%= collaborator.id %>)' style="cursor:pointer;text-align: center">
        <%= collaborator.name %>
        </td>
        <td onclick='javascript: setCollaborator(<%= collaborator.id %>)' style="cursor:pointer;text-align: center">
        <%= collaborator.cpf %>
        </td>
        <td onclick='javascript: setCollaborator(<%= collaborator.id %>)' style="cursor:pointer;text-align: center">
        <%= collaborator.birthday %>
        </td>
        <td onclick='javascript: setCollaborator(<%= collaborator.id %>)' style="cursor:pointer;text-align: center">
        <%= collaborator.personal_phone_number %>
        </td>
        <td onclick='javascript: setCollaborator(<%= collaborator.id %>)' style="cursor:pointer;text-align: center">
        <%= collaborator.salary %>
        </td>
        <td onclick='javascript: setCollaborator(<%= collaborator.id %>)' style="cursor:pointer;text-align: center">
        <%= collaborator.inss %>
        </td>
        <td style="text-align: center">
            <a type="button" class="far fa-edit" style="color: black ;" href="/collaborators/<%= collaborator.id %>/edit" data-bs-toggle="modal" data-bs-target="#editCollaboratorModal" data-backdrop="false" data-remote="true"></a>
        <td style="text-align: center"><%= link_to '', collaborator_path(collaborator), method: :delete, data: { confirm: 'Esse colaborador será excluido permanentemente. Deseja realmente concluir a ação?' }, :class => "fas fa-trash-alt", :style => "color: black" %></td>
    </tr>
<%end%>

<script type="text/javascript">
    function setCollaborator(collaborator) {

    location.assign(`/collaborators/${collaborator}`);
   return false;
   }
</script>